<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png">
    <link type="text/css" rel="stylesheet" href="assets/css/lightslider.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

    {% block header %}
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <div class="back-to-optimade">
            <a href="../index">
                <svg viewBox="0 0 512 512" width="35" height="35">
                    <path fill="#606060" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8.4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z">
                    </path>
                </svg>
            </a>
            <p>Go back to OPTIMADE.org</p>
        </div>
        <header class="inner">
            <div id="logo">
              <a href="../index"><img src="assets/images/optimade-text-right-transparent-bg.png"></a>
            </div>
            <br>
            <div id="menu" class="menu">
                <a href="#presentation">Presentation</a>
                <a href="#organizers">Organizers</a>
                <a href="#speakers">Speakers</a>
                <span class="special_menu"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=7Bg_kSZ_X0yoFnhP6aWO3WJBgpGBIKdFh8b1GjAYgoBUQkVOUEwwRUhKRjFDMDNNSUowSk5LRVJXNi4u" target="_blank">REGISTER</a></span>
                <a href="#program">Program</a>
                <a href="#contact">Contact</a>
                <a href="#support">Support</a>
       	    </div>
        </header>
    </div>
    {% endblock header %}

    {% block main %}
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>
    {% endblock main %}

    {% block footer %}
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
        </footer>
    </div>
    {% endblock footer %}
</body>

</html>
